.main{
    margin-top: 5.9em;
    padding-bottom: 2em;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.photo{
    width: 50%;
    height: 85vh;
}

.name{
    font-family: sans-serif;
    font-size: 3em;
    margin-top: 0.6em;
    color: #fb5b21;
    font-weight: 550;
    margin-bottom: 0.5em;
}

.about{
    font-family: sans-serif;
    width: 80%;
    line-height: 1.5em;
    color: rgb(80, 80, 80);
    text-align: justify;
    margin-top: 2em;
}

.link{
    color: #fb5b21;
    font-size: 1.6em;
    text-decoration: none;
    font-family: monospace;
}

.known{
    font-size: 1.2em;
    font-family: sans-serif;
    margin: 0.3em;
}