.main {
    padding-top: 13vh;
    z-index: 999;
}

.photo_div {
    margin-top: 0em;
    width: 100%;
    height: 90vh;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
}

.active {
    position: absolute;
    top: 39%;
    left: 2%;
    width: 97%;
    /* height: 30vh; */
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading {
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2em;

    span {
        color: orangered;
    }
}

.big_head {
    color: white;
    font-size: 4em;
}

.desp {
    font-size: 1.4em;
    color: white;
    font-weight: 500;
}

.btn {
    border: 4px solid orangered;
    border-radius: 3em;
    font-size: 1.2em;
    color: white;
    padding: 0.6em 1.8em;
    background-color: transparent;
}

.btn_border {
    border: 4px solid orangered;
    padding: 0.7em;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_border:hover{
    background-color: orangered;
}

.icon {
    font-size: 2.7em;
    font-weight: bolder;
    color: white;
}