.main {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('/Registration.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_box {
    width: 80%;
    height: 95vh;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
    /* border: 1px solid red; */
    z-index: 999;
}

/* .form_box.isView {
    z-index: 1000;
} */

.heading {
    color: orange;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    padding-top: 0.5em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.form {
    height: 85vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 2em;
    /* border: 1px solid white; */
}

.form_div {
    /* border: 1px solid white; */
    display: flex;
    gap: 3em;
    flex-direction: row;
}

.box {
    width: 47%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.heading_name {
    font-family: sans-serif;
    font-size: 1em;
    color: white;
}

.input {
    background-color: rgb(201, 201, 201);
    border: none;
    outline: none;
    border-radius: 0.3em;
    padding-left: 1em;
    color: rgb(55, 46, 46);
    height: 5vh;
    transition: all 0.3s ease-in-out;
}

.input:focus {
    box-shadow: 0 0 5px orange;
    border: 1px solid orange;
}

.btn_div {
    /* margin-top: 0.5em; */
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    /* margin: 0.5em; */
    height: 7vh;
    width: 25vh;
    cursor: pointer;
    font-size: 1.4em;
    font-family: sans-serif;
    text-transform: uppercase;
    background-color: #fb5b21;
    border: none;
    color: white;
    border-radius: 0.2em;
    transition: background-color 0.3s ease-in-out;
}

/* .btn:hover {
    background-color: #e14b1c;
} */

.payment {
    position: absolute;
    top: 15%;
    left: 30%;
    background-color: white;
    height: 70vh;
    width: 70vh;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    z-index: 1000;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cut_btn_div {
    width: 100%;
    display: flex;
    justify-content: end;

}

.cut_btn {
    margin-right: 0.3em;
    padding: 0.4em;
    border: none;
    background-color: transparent;
}

.icon {
    font-size: 1.5em;
}