.main {
    width: 100%;
    /* height: 70vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3em;
}

.photo_div {
    /* margin-top: 1em; */
    width: 80%;
    height: 70vh;
}

.img {
    width: 100%;
    height: 100%;
}

.heading {
    height: 40vh;
    width: 80%;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    line-height: 1.5em;
    text-align: justify;
    color: rgb(88, 88, 88);
}

.schedule {
    /* border: 1px solid black; */
    width: 80%;
    margin-bottom: 3em;
}

.name {
    font-size: 1.8em;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 0.7em;
}

.time {
    font-size: 1.1em;
    font-family: sans-serif;
    color: rgb(73, 72, 72);
}

.btn {
    text-decoration: none;
    color: white;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
    cursor: pointer;
    font-size: 1.3em;
    font-family: sans-serif;
    background-color: #fb5b21;
}

.pricing {
    display: flex;
    /* border: 1px solid red; */
    width: 71.5%;
    margin: 0%;
    height: 7vh;
    align-items: center;
}

.pheading {
    width: 25vh;
    border: 2px solid #fb5b21;
    color: white;
    background-color: #fb5b21;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.2em;
}

.price {
    width: 25vh;
    border: 2px solid #fb5b21;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.2em;
}