.main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 5em;
    background-color: black;
    color: white;
    transition: all 0.3s ease; 
    z-index: 1000;
}

.scrolled {
    background-color: rgba(0, 0, 0, 0.8); 
    transform: translateY(-10px); 
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px; 
}

.logo_div {
    height: 38vh;
    width: 38vh;
}

.logo {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    gap: 9em;
}

.link_div {
    height: 7vh;
    display: flex;
    align-items: center;
    gap: 4em;
}

.link {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    transition: color 0.3s ease; 
}

.link:hover {
    color: orangered;
}

.btn_div {
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    background-color: orangered;
    padding: 0.4em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: darkred;
}
